logicapp.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "name": {
            "type": "string"            
        },
        "webHookUrl": {
            "type": "string"
        }
    },
    "functions": [],
    "variables": {},
    
    "resources": [
             {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('name')]",
            "location": "westeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "AlertRuleName": {
                                            "type": "string"
                                        },
                                        "AlertType": {
                                            "type": "string"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "FiredDateTime": {
                                            "type": "string"
                                        },
                                        "IncludeSearchResults": {
                                            "type": "boolean"
                                        },
                                        "LinkToSearchResults": {
                                            "type": "string"
                                        },
                                        "SearchResult": {
                                            "properties": {
                                                "tables": {
                                                    "items": {
                                                        "properties": {
                                                            "columns": {
                                                                "items": {
                                                                    "properties": {
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "type"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "rows": {
                                                                "items": {
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "columns",
                                                            "rows"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "Severity": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Condition": {
                            "actions": {
                                "HTTP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "@@context": "https://schema.org/extensions",
                                            "@@type": "MessageCard",
                                            "sections": [
                                                {
                                                    "text": "#*** @{triggerBody()?['data']?['AlertRuleName']}***"
                                                },
                                                {
                                                    "startGroup": true,
                                                    "title": "@{triggerBody()?['data']?['Description']}"
                                                },
                                                {
                                                    "facts": [
                                                        {
                                                            "name": "Type: ",
                                                            "value": "@{triggerBody()?['data']?['AlertType']}"
                                                        },
                                                        {
                                                            "name": "Rule:",
                                                            "value": "@{triggerBody()?['data']?['AlertRuleName']}"
                                                        },
                                                        {
                                                            "name": "Time:",
                                                            "value": "@{triggerBody()?['data']?['FiredDateTime']}"
                                                        }
                                                    ],
                                                    "startGroup": true
                                                },
                                                {
                                                    "facts": [
                                                        {
                                                            "name": "Request:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[0]}"
                                                        },
                                                        {
                                                            "name": "Application:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[1]}"
                                                        },
                                                        {
                                                            "name": "Avg duration:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[3]}"
                                                        },
                                                        {
                                                            "name": "Operation Id:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[2]}"
                                                        }
                                                    ],
                                                    "startGroup": true,
                                                    "title": "**Top slow requests found:**"
                                                },
                                                {
                                                    "facts": [
                                                        {
                                                            "name": "Request:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[0]}"
                                                        },
                                                        {
                                                            "name": "Application:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[1]}"
                                                        },
                                                        {
                                                            "name": "Avg duration:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[3]}"
                                                        },
                                                        {
                                                            "name": "Operation Id:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[2]}"
                                                        }
                                                    ],
                                                    "startGroup": true
                                                },
                                                {
                                                    "facts": [
                                                        {
                                                            "name": "Request:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[2]?[0]}"
                                                        },
                                                        {
                                                            "name": "Application:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[2]?[1]}"
                                                        },
                                                        {
                                                            "name": "Avg duration:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[2]?[3]}"
                                                        },
                                                        {
                                                            "name": "Operation Id:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[2]?[2]}"
                                                        }
                                                    ],
                                                    "startGroup": true
                                                },
                                                {
                                                    "facts": [
                                                        {
                                                            "name": "Request:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[3]?[0]}"
                                                        },
                                                        {
                                                            "name": "Application:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[3]?[1]}"
                                                        },
                                                        {
                                                            "name": "Avg duration:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[3]?[3]}"
                                                        },
                                                        {
                                                            "name": "Operation Id:",
                                                            "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[3]?[2]}"
                                                        }
                                                    ],
                                                    "startGroup": true
                                                },
                                                {
                                                    "activitySubtitle": "[View in Azure Portal.](@{triggerBody()?['data']?['LinkToSearchResults']})",
                                                    "startGroup": true
                                                }
                                            ],
                                            "summary": "This is the summary property",
                                            "themeColor": "0075FF"
                                        },
                                        "method": "POST",
                                        "uri": "[parameters('webHookUrl')]"
                                    },
                                    "operationOptions": "SuppressWorkflowHeaders"
                                }
                            },
                            "runAfter": {},
                            "else": {
                                "actions": {
                                    "HTTP_2": {
                                        "runAfter": {},
                                        "type": "Http",
                                        "inputs": {
                                            "body": {
                                                "@@context": "https://schema.org/extensions",
                                                "@@type": "MessageCard",
                                                "sections": [
                                                    {
                                                        "text": "#*** @{triggerBody()?['data']?['AlertRuleName']}***"
                                                    },
                                                    {
                                                        "startGroup": true,
                                                        "title": "@{triggerBody()?['data']?['Description']}"
                                                    },
                                                    {
                                                        "facts": [
                                                            {
                                                                "name": "Type: ",
                                                                "value": "@{triggerBody()?['data']?['AlertType']}"
                                                            },
                                                            {
                                                                "name": "Rule:",
                                                                "value": "@{triggerBody()?['data']?['AlertRuleName']}"
                                                            },
                                                            {
                                                                "name": "Time:",
                                                                "value": "@{triggerBody()?['data']?['FiredDateTime']}"
                                                            }
                                                        ],
                                                        "startGroup": true
                                                    },
                                                    {
                                                        "facts": [
                                                            {
                                                                "name": "Timestamp::",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[0]}"
                                                            },
                                                            {
                                                                "name": "Error:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[2]}"
                                                            },
                                                            {
                                                                "name": "Error Message:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[4]}"
                                                            },
                                                            {
                                                                "name": "Outer Message:",
                                                                "value": "@{if(equals(triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[1], null), '', replace(triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[1], '\"', ' '))}"
                                                            },
                                                            {
                                                                "name": "Operation Id:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[0]?[3]}"
                                                            }
                                                        ],
                                                        "startGroup": true,
                                                        "title": "**Exceptions found:**"
                                                    },
                                                    {
                                                        "facts": [
                                                            {
                                                                "name": "Timestamp::",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[0]}"
                                                            },
                                                            {
                                                                "name": "Error:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[2]}"
                                                            },
                                                            {
                                                                "name": "Error Message:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[4]}"
                                                            },
                                                            {
                                                                "name": "Outer Message:",
                                                                "value": "@{if(equals(triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[1], null), '', replace(triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[1], '\"', ' '))}"
                                                            },
                                                            {
                                                                "name": "Operation Id:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[3]}"
                                                            }
                                                        ],
                                                        "startGroup": true
                                                    },
                                                    {
                                                        "facts": [
                                                            {
                                                                "name": "Timestamp::",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[2]?[0]}"
                                                            },
                                                            {
                                                                "name": "Error:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[2]?[2]}"
                                                            },
                                                            {
                                                                "name": "Error Message:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[2]?[4]}"
                                                            },
                                                            {
                                                                "name": "Outer Message:",
                                                                "value": "@{if(equals(triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[1], null), '', replace(triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[1]?[1], '\"', ' '))}"
                                                            },
                                                            {
                                                                "name": "Operation Id:",
                                                                "value": "@{triggerBody()?['data']?['SearchResults']?['tables'][0]?['rows']?[2]?[3]}"
                                                            }
                                                        ],
                                                        "startGroup": true
                                                    },
                                                    {
                                                        "activitySubtitle": "[View in Azure Portal.](@{triggerBody()?['data']?['LinkToSearchResults']})",
                                                        "startGroup": true
                                                    }
                                                ],
                                                "summary": "This is the summary property",
                                                "themeColor": "0075FF"
                                            },
                                            "headers": {
                                                "Content-type": "application/json; charset=utf-8"
                                            },
                                            "method": "POST",
                                            "uri": "[parameters('webHookUrl')]"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['data']?['AlertType']",
                                            "duration"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            }
        }
    ],
    "outputs": {  
        "resourceID": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('name'))]"
        }    
    }
}